// Заголовки, загальні БЕМ блоки та інше...
.headline {
	display: flex;
	flex-direction: column;
	row-gap: rem(27);
	font-family: $secFont;
	font-weight: 700;
	img {
		@include adaptiveValue("width", 53, 40, 0, 992, 480);
		margin-top: rem(-17);
		@media (max-width: $tablet) {
			margin-top: rem(0);
		}
	}
	// .headline__subtitle
	&__subtitle {
		font-size: 14px;
		margin-bottom: rem(17);
		line-height: 100%;
		letter-spacing: rem(2);
		text-transform: uppercase;
		color: #d77474;
		@media (max-width: $tablet) {
			margin-bottom: 0;
		}
		&_mb-0 {
			margin-bottom: 0;
		}
	}
	// .headline__title
	&__title {
		@include adaptiveValue("font-size", 40, 32, 0, 992, 480);
		line-height: 120%;
		color: $titleColor;
		// .headline__title_main
		&_main {
			position: relative;
			top: rem(-10);
			font-size: rem(48);
			@include adaptiveValue("font-size", 48, 36, 0, 992, 480);
			// line-height: 121%;
		}
		&_fz-36 {
			margin-top: rem(-5);
			font-size: rem(36);
		}
		&_regular {
			font-weight: 400;
		}
	}
	&_center {
		text-align: center;
	}
}

.title {
	font-family: $secFont;
	font-size: rem(29);
	font-weight: 700;
	line-height: 124%;
	color: $titleColor;
}

.section-tag {
	position: absolute;
	top: 47%;
	font-family: $secFont;
	font-size: rem(19);
	line-height: 179%;
	letter-spacing: rem(1);
	text-transform: uppercase;
	color: #dbdbdb;
	// .section-tag_left
	&_left {
		left: rem(-170);
		transform: rotate(-90deg);
	}
	&_right {
		right: rem(-170);
		transform: rotate(90deg);
	}
	&_about {
		top: 26%;
	}
}
