// Заголовки, загальні БЕМ блоки та інше...
.headline {
	display: flex;
	flex-direction: column;
	row-gap: rem(10);
	font-family: $secFont;
	font-weight: 700;
	// .headline__subtitle
	&__subtitle {
		font-size: 14px;
		line-height: 171%;
		letter-spacing: rem(2);
		text-transform: uppercase;
		color: #d77474;
	}
	// .headline__title
	&__title {
		font-size: rem(40);
		line-height: 125%;
		color: $titleColor;
		// .headline__title_main
		&_main {
			font-size: rem(48);
			line-height: 121%;
		}
	}
	&_center {
		text-align: center;
	}
}

.title {
	font-family: $secFont;
	font-size: rem(29);
	font-weight: 700;
	line-height: 124%;
	color: $titleColor;
}

.section-tag {
	position: absolute;
	top: 47%;
	font-family: $secFont;
	font-size: rem(19);
	line-height: 179%;
	letter-spacing: rem(1);
	text-transform: uppercase;
	color: #dbdbdb;
	// .section-tag_left
	&_left {
		left: rem(-150);
		transform: rotate(-90deg);
	}
	&_right {
		right: rem(-150);
		transform: rotate(90deg);
	}
	&_about {
		top: 26%;
	}
}
