//====================================================================================================
.header {
	position: relative;
	padding: rem(15) 0;
	padding-top: rem(20);
	padding-bottom: rem(29);
	min-height: rem(90);
	@media (max-width: $mobileSmall) {
		&::before {
			content: "";
			z-index: 25;
			position: absolute;
			left: 0;
			top: 0;
			width: 100%;
			height: 100%;
			background-color: #fff;
		}
	}
	// .header__container
	&__container {
		display: flex;
		align-items: center;
		justify-content: space-between;
		column-gap: rem(50);
		@media (max-width: $mobile) {
			flex-direction: column;
			row-gap: rem(10);
		}
		@media (max-width: $mobileSmall) {
			flex-direction: row;
		}
	}
	// .header__logo
	&__logo {
		position: relative;
		z-index: 25;
	}
	// .header__menu
	&__menu {
		display: flex;
		align-items: center;
		column-gap: rem(38);
		padding-top: rem(6);
	}
	// .header__cart
	&__cart {
		z-index: 25;
		position: relative;
		display: flex;
		align-items: center;
		color: $titleColor;
		column-gap: rem(5);
		transition: all 0.3s ease 0s;
		&::before {
			content: "";
			position: absolute;
			top: 50%;
			left: rem(-19);
			transform: translateY(-50%);
			width: rem(1);
			height: 130%;
			background-color: #ebebeb;
		}
		svg {
			width: rem(19);
			height: rem(20);
			fill: #000;
			transition: all 0.3s ease 0s;
		}
		@media (any-hover: hover) {
			&:hover {
				color: $accentColor;
				svg {
					fill: $accentColor;
				}
			}
		}
	}
}
.menu {
	// .menu__body
	&__body {
		@media (max-width: $mobileSmall) {
			z-index: 20;
			position: fixed;
			left: 0;
			top: 0;
			width: 100%;
			height: 100%;
			padding-top: rem(100);
			background-color: #fff;
			transform: translateX(100%);
			overflow: auto;
			transition: all 0.5s ease 0s;
			.menu-open & {
				transform: translateX(0);
			}
		}
	}
	// .menu__list
	&__list {
		display: flex;
		align-items: center;
		overflow: auto;
		@media (max-width: $mobileSmall) {
			flex-direction: column;
		}
	}
	// .menu__item
	&__item {
		&:not(:last-child) {
			margin-right: rem(43);
			@media (max-width: $mobileSmall) {
				margin-right: 0;
				margin-bottom: rem(20);
			}
		}
	}
	// .menu__link
	&__link {
		display: block;
		font-family: $secFont;
		font-size: rem(12);
		line-height: 183%;
		letter-spacing: rem(2);
		text-transform: uppercase;
		transition: all 0.3s ease 0s;
		@media (any-hover: hover) {
			&:hover {
				color: $accentColor;
			}
		}
		@media (max-width: $mobileSmall) {
			font-size: rem(14);
			// font-weight: 500;
		}
	}
	// .menu__icon
	&__icon {
	}
}
//====================================================================================================
//Burger
.icon-menu {
	display: none;
	@media (max-width: $mobileSmall) {
		display: block;
		position: relative;
		width: rem(30);
		height: rem(18);
		z-index: 25;
		@media (any-hover: none) {
			cursor: default;
		}
		span,
		&::before,
		&::after {
			content: "";
			transition: all 0.3s ease 0s;
			right: 0;
			position: absolute;
			width: 100%;
			height: rem(2);
			background-color: #000;
		}
		&::before {
			top: 0;
		}
		&::after {
			bottom: 0;
		}
		span {
			top: calc(50% - rem(1));
		}
		.menu-open & {
			span {
				width: 0;
			}
			&::before,
			&::after {
			}
			&::before {
				top: calc(50% - rem(1));
				transform: rotate(-45deg);
			}
			&::after {
				bottom: calc(50% - rem(1));
				transform: rotate(45deg);
			}
		}
	}
}
