//====================================================================================================
.hero {
	@include adaptiveValue("padding-top", 157, 60, 0, 1200, 480);
	@include adaptiveValue("padding-bottom", 160, 60, 0, 1200, 480);
	background-image: url("@img/hero-bg.png");
	background-position: 0 0;
	background-size: cover;
	background-repeat: no-repeat;
	// .hero__container
	&__container {
		display: flex;
		align-items: center;
		@media (max-width: $mobile) {
			flex-direction: column;
		}
	}
	// .hero__content
	&__content {
		z-index: 5;
		position: relative;
		flex-basis: rem(576);
		@media (max-width: $mobile) {
			margin-bottom: rem(30);
			flex-basis: auto;
		}
	}
	// .hero__title
	&__title {
		margin-bottom: rem(14);
	}
	// .hero__text
	&__text {
		margin-bottom: rem(50);
		font-size: rem(16);
		line-height: 162%;
	}
	// .hero__button
	&__button {
	}
	// .hero__image-ibg
	&__image-ibg {
		flex: 0 0 64%;
		margin-right: -14%;
		left: rem(-88);
		padding-bottom: percent(388, 1150);
		@media (max-width: $mobile) {
			margin-right: 0;
			left: auto;
			padding-bottom: percent(445, 800);
			width: percent(784, 800);
		}
	}
}
//========================================================================================================================================================
.about {
	@include adaptiveValue("padding-top", 130, 60, 0, 992, 480);
	@include adaptiveValue("padding-bottom", 60, 30, 0, 992, 480);
	// .about__container
	&__container {
		position: relative;
	}
	// .about__title
	&__title {
		@include adaptiveValue("margin-bottom", 66, 33, 0, 992, 480);
	}
	// .about__content
	&__content {
		position: relative;
		@include adaptiveValue("padding-bottom", 150, 75, 0, 992, 480);
	}
	// .about__list
	&__list {
		display: flex;
		align-items: center;
		justify-content: space-around;
		flex-wrap: wrap;
		gap: rem(30);
		@include adaptiveValue("margin-bottom", 85, 40, 0, 992, 480);
	}
	// .about__item
	&__item {
		display: inline-flex;
		flex-direction: column;
		align-items: center;
		justify-content: center;
		width: rem(240);
		height: rem(240);
		border-radius: 50%;
		border: rem(30) solid;
		// .about__item_vases
		&_vases {
			background-color: #e4b366;
			border-color: #cea15c;
		}
		// .about__item_mugs
		&_mugs {
			background-color: #f05b10;
			border-color: #e4560f;
		}
		// .about__item_plates
		&_plates {
			background-color: #a21010;
			border-color: #9a0f0f;
		}
	}
	// .about__descr
	&__descr {
		font-family: $secFont;
		line-height: 271%;
		text-align: center;
		letter-spacing: rem(2);
		text-transform: uppercase;
		color: #ffffff;
	}
	// .about__histories
	&__histories {
		display: flex;
		justify-content: space-between;
		align-items: flex-start;
		// flex-wrap: wrap;
		gap: rem(50);
		@media (max-width: $mobile) {
			flex-direction: column;
		}
	}
	// .about__history
	&__history {
		flex: 0 1 rem(505);
		@media (max-width: $mobile) {
			flex: 1 1 auto;
		}
	}
	// .about__caption
	&__caption {
		margin-bottom: rem(26);
		font-size: rem(29);
		@include adaptiveValue("font-size", 29, 24, 0, 992, 480);
	}
	// .about__text
	&__text {
		line-height: 171%;
	}
	// .about__categories
	&__categories {
		position: relative;
	}
	// .about__inner
	&__inner {
		@include adaptiveValue("padding-top", 77, 37, 0, 992, 480);
		@include adaptiveValue("padding-bottom", 50, 30, 0, 992, 480);
		border-top: rem(1) solid #ebebeb;
		border-bottom: rem(1) solid #ebebeb;
	}
	// .about__category
	&__category {
		display: flex;
		align-items: center;
		// justify-content: space-between;
		@include adaptiveValue("column-gap", 88, 40, 0, 992, 480);
		@media (max-width: $mobile) {
			flex-direction: column;
			&:not(:last-child) {
				margin-bottom: rem(60);
			}
		}
		&:nth-child(2n) {
			margin-top: rem(-20);
			flex-direction: row-reverse;
			justify-content: space-between;
			@media (max-width: $mobile) {
				margin-top: 0;
				flex-direction: column;
			}
		}
	}
}
.category-about {
	// .category-about__image
	&__image {
		position: relative;
		flex: 0 1 rem(500);
		text-align: center;

		@media (max-width: $mobile) {
			flex: 1 1 100%;
			width: 100%;
		}
		@media (max-width: em(360)) {
			img {
				width: 100%;
			}
		}
		&::before {
			content: "";
			z-index: -1;
			position: absolute;
			top: 50%;
			left: 0;
			width: 100%;
			height: rem(220);
			transform: translateY(-50%);
			background-color: #f5f5f5;
			@media (max-width: $mobile) {
				width: 60%;
				left: 50%;
				transform: translate(-50%, -50%);
			}
			@media (max-width: $mobileSmall) {
				display: none;
			}
		}
	}
	// .category-about__info
	&__info {
		flex: 0 1 rem(388);
		@media (max-width: $mobile) {
			flex: 1 1 auto;
			text-align: center;
		}
	}
	// .category-about__title
	&__title {
		margin-bottom: rem(23);
		padding-top: rem(24);
		font-size: rem(24);
		line-height: 141%;
	}
	// .category-about__text
	&__text {
		margin-bottom: rem(27);
		line-height: 171%;
	}
	// .category-about__link
	&__link {
		font-family: $secFont;
		font-weight: 700;
		line-height: 171%;
		color: $titleColor;
		transition: all 0.3s ease 0s;
		@media (any-hover: hover) {
			&:hover {
				color: $accentColor;
			}
		}
	}
}
//====================================================================================================
.store {
	@include adaptiveValue("padding-top", 63, 40, 0, 992, 480);
	@include adaptiveValue("padding-bottom", 120, 70, 0, 992, 480);
	// .store__container
	&__container {
		position: relative;
	}
	// .store__title
	&__title {
		margin-bottom: rem(60);
		@include adaptiveValue("margin-bottom", 60, 30, 0, 992, 480);
	}
	// .store__items
	&__items {
		margin-bottom: rem(63);
		@include adaptiveValue("margin-bottom", 63, 40, 0, 992, 480);
		@include gridCards($min: 275px, $gap: 20px);
	}
	// .store__item
	&__item {
	}
	// .store__image-ibg
	&__image-ibg {
		padding-bottom: percent(494, 370);
	}
	// .store__body
	&__body {
		padding-top: rem(20);
		padding-bottom: rem(15);
		border-bottom: rem(1) solid #dbdbdb;
	}
	// .store__category
	&__category {
		font-size: rem(16);
		line-height: 162%;
		color: #6c6c6c;
	}
	// .store__price
	&__price {
		font-family: $secFont;
		line-height: 171%;
		color: $titleColor;
	}
	// .store__button
	&__button {
		text-align: center;
	}
}
//========================================================================================================================================================
.shopping {
	@include adaptiveValue("padding-top", 120, 70, 0, 992, 480);
	@include adaptiveValue("padding-bottom", 120, 70, 0, 992, 480);
	background: url("@img/shopping-bg.jpg") right / cover no-repeat;
	@media (max-width: $tablet) {
		background-position: left;
	}
	// .shopping__container
	&__container {
	}
	// .shopping__content
	&__content {
		max-width: rem(566);
	}
	// .shopping__title
	&__title {
		margin-bottom: rem(13);
	}
	// .shopping__text
	&__text {
		max-width: rem(421);
		margin-bottom: rem(30);
		font-weight: 700;
		font-size: rem(16);
		line-height: 150%;
		color: #6c6c6c;
		span {
			color: $accentColor;
		}
	}
	// .shopping__button
	&__button {
	}
}
//========================================================================================================================================================
.contacts {
	@include adaptiveValue("padding-top", 122, 70, 0, 992, 480);
	@include adaptiveValue("padding-bottom", 152, 80, 0, 992, 480);
	// .contacts__container
	&__container {
		position: relative;
	}
	// .contacts__content
	&__content {
	}
	// .contacts__image
	&__image {
		width: rem(80);
		margin: 0 auto;
		margin-bottom: rem(40);
		img {
			width: 100%;
		}
	}
	// .contacts__title
	&__title {
		@include adaptiveValue("margin-bottom", 63, 35, 0, 992, 480);
	}
	// .contacts__form
	&__form {
		max-width: rem(500);
		margin: 0 auto;
		text-align: center;
	}
	// .contacts__field
	&__field {
		display: flex;
		align-items: stretch;
		column-gap: rem(4);
		row-gap: rem(10);
		margin-bottom: rem(40);
		@media (max-width: $mobileSmall) {
			flex-direction: column;
		}
	}
	// .contacts__input
	&__input {
		min-height: rem(45);
	}
	// .contacts__button
	&__button {
	}
}

.store {
	// .store__title
	&__title {
	}
}

.input {
}
.button {
}
.checkbox {
	// .checkbox__input
	&__input {
	}
	// .checkbox__label
	&__label {
	}
}
//========================================================================================================================================================
